@page
@model CommunityModel
@{
	ViewData["Title"] = "Community page";
	var joined = Model.Joined;
}

<head>
	<link rel="stylesheet" href="~/css/site.css" />
	<meta charset="UTF-8">
	<title>Tickets Page</title>
	<style>
		.parent {
			display: grid;
			grid-template-columns: 3fr repeat(2, 2fr);
			grid-auto-rows: min-content;
			grid-column-gap: 15px;
			grid-row-gap: 15px;
		}

		.alliance-card {
			overflow-y: auto;
			background-color: #99FFF5;
			padding: 20px;
			height: 400px;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			grid-column: 2;
		}

		.first-column {
			grid-column: 1;
			grid-row: 1;
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

			.first-column form {
				margin-bottom: 10px;
			}

		.alliances-column {
			grid-column: 2;
			grid-row: 1;
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		.accounts-column {
			display: flex;
			flex-direction: column;
			gap: 15px;
			grid-column: 3;
			grid-row: 1;
		}
    </style>
</head>
<body>
	<div class="text-center">
		<h1 class="display-4">@Model.CommunitySubject</h1>
		<div class="parent">
			<div class="first-column">
				<form method="post">
					<input type="hidden" asp-for="SelectedCommunityId"/>
					<a class="button" asp-page="/CommunitySettings" asp-route-SelectedCommunityId="@Model.SelectedCommunityId">Settings</a>
					<a class="button" asp-page="/AllianceCreation" asp-route-SelectedCommunityId="@Model.SelectedCommunityId">+</a>
					<button class="button" asp-page="/Community" asp-route-SelectedCommunityId="@Model.SelectedCommunityId" asp-page-handler="Join" disabled="@joined">Join</button>
				</form>
			</div>

			<div class="alliances-column">
				@foreach (var alliance in Model.Alliances)
				{
					<div class="alliance-card">
						<h2>@alliance.name</h2>
						<p><strong>Crewmembers:</strong> @alliance.GetMemberCount()</p>
						<p>@alliance.rules</p>
						<form method="post" asp-page="/Alliance">
							<input type="hidden" name="allianceId" value="@alliance.GetID()" />
							<a class="button" asp-page="/Alliance" asp-route-SelectedAllianceId="@alliance.GetID()" asp-route-SelectedCommunityId="@Model.Community.ID">View</a>
						</form>
					</div>
				}
			</div>
			<div class="accounts-column">
				@foreach (var admin in Model.Admins)
				{
					<div class="admin">
						<h4>Admin: @admin.name</h4>
						<h5>Age: @admin.age</h5>
					</div>
				}

				@foreach (var account in Model.Members)
				{
					<div class="account">
						<h4>@account.name</h4>
						<h5>Age: @account.age</h5>
					</div>
				}
			</div>
		</div>
		<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>
</body>